.button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  border: none;

  &:focus {
    outline: 3px solid var(--basic-black-60);
  }

  &:hover {
    background-color: var(--special-green-hover);
  }

  &:active {
    background-color: var(--special-green-hover);
    color: var(--basic-white-30);
  }

  &--slider {
    background-color: var(--basic-white);
  }

  &--order {
    font-size: 16px;
    line-height: 20px;
    background-color: var(--light-gray-2);
    color: inherit;
  }

  @media (min-width: 768px) {
    padding: 14px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
