.contacts--inner {
  background-color: var(--light-gray-2);

  @media (min-width: 1440px) {
    background-color: var(--basic-white);
  }
}

.contacts__text {
  width: 50%;
  color: var(--dark-gray);
  text-transform: uppercase;
  font-weight: 400;
}

.contacts__address {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.contacts__address-text {
  @media (min-width: 768px) {
    display: block;
    margin-bottom: 20px;
  }
}
