.logo {
  display: flex;
  margin: 0 auto;
}

.logo:focus {
  outline: 1 px solid var(--basic-black-60);
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__text {
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.logo__img {
  padding-right: 57px;
}
