.logo {
  display: flex;
}

.logo:focus {
  outline: 1 px solid var(--basic-black-60);
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__text {
  display: block;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 19px;
    color: var(--special-dark-gray);
  }

  @media (min-width: 1440px) {
    font-size: 21px;
  }
}

.logo__img {
  padding-right: 57px;

  @media (min-width: 768px) {
    padding-right: 10px;
  }
}
