.page-footer__contacts {
  padding: 28px 20px;
}

.page-footer__socials {
  background-color: var(--light-gray-2);
}

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid var(--basic-gray);
}

.page-footer__web-wrapper {
  padding: 22px 0;
}

.page-footer__link {
  font-family: "Arial", sans-serif;
  color: var(--special-dark-gray);
}
