.slider {
  @include order-reset;
  margin-bottom: 25px;
}

.slider__item {
  display: none;
}

.slider__item-active {
  display: block;
}

.slider__toggle-button-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 4px 6px;
  background-color: var(--basic-white);
  border-radius: 6px;
  border: 1px solid var(--light-gray-radio);

  @media (min-width: 768px) {
    display: none;
  }
}

.slider__toggle-button {
  border-radius: 3px;
}

.slider__toggle-button--active {
  background-color: var(--basic-green);
}

.slider__toggle-button-text {
  color: var(--basic-black);
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-black-30);
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--basic-black-30);
  }

  @media (min-width: 768px) {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
  }
}

.slider__img {
  display: block;
  margin: 0 auto;
}

.slider__toggle-range-wrapper {
  display: none;

  @media (min-width: 768px) {
    position: relative;
    display: block;
    margin: auto 0;
  }
}

.slider__toggle-bar {
  display: block;
  width: 428px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--slider-gray);
}

.slider__toggle-thumb {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  background: var(--basic-white);
  border: 1px solid var(--light-gray-radio);
  border-radius: 50%;
  cursor: pointer;
  width: 32px;
  height: 32px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--basic-green);
    border-radius: 50%;
  }
}
