:root {
  --basic-black: #000000;
  --basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-black-60: rgba(0, 0, 0, 0.6);
  --basic-white: #ffffff;
  --basic-white-30: rgba(255, 255, 255, 0.3);
  --basic-white-60: rgba(255, 255, 255, 0.6);
  --dark-gray: #111111;
  --dark-gray-2: #222222;
  --dark-gray-2-30: rgba(34, 34, 34, 0.3);
  --basic-decorative-color: #e6e6e6;
  --extra-decorative-color: #e7e7e7;
  --basic-green: #68b738;
  --basic-green-30: rgba(104, 183, 56, 0.3);
  --special-green-hover: #5eaa2f;
  --basic-gray: #d9d9d9;
  --special-dark-gray: #444444;
  --special-dark-gray-30: rgba(68, 68, 68, 0.3);
  --light-gray: #eaeaea;
  --special-gray-2: #666666;
  --special-gray-hover: #bababa;
  --light-gray-2: #f2f2f2;
  --light-gray-3: #d3d3d3;
  --light-gray-4: #ebebeb;
  --light-gray-radio: #cdcdcd;
  --slider-gray: #dcdcdc;
  --basic-red: #ff8282;
}
